{% extends "base.html" %} {% block title %}Главная страничка{% endblock %} 
{% block content %}

<h1 align="center">Примечание</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
         {{ note.data }}
         <button type="button" class="close" onClick="removeNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
         </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Добавить примечание</button>
    </div>
</form>
{% endblock %}


