{% extends "base.html" %} {% block title %}Войти{% endblock %}

{% block container %}
<h1>Это страничка входа</h1>
<form method="POST">
     <h3 align="center">Вход</h3>
     <div class="form-group">
         <label for="email">Емеил</label>   
         <input type="email" class="form-control" id="email" name="email" placeholder="Введите емеил"> 
     </div>
     <div class="form-group">
         <label for="password0">Пароль</label>   
         <input type="passsword" class="form-control" id="passsword1" name="password1" placeholder="Введите пароль"> 
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Отправить</button>      
</form>
{% endblock %}







  




  